footer {
    margin: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer--socials {
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 760px) {
    .footer--references {
        font-size: 14px;
    }
}